<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dealdaddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.UpcomingProducts"></activity>
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.IntroScreen" />
        <activity android:name=".Activity.CheckoutActivity" />
        <activity android:name=".Activity.OrderConfirmActivity" />
        <activity android:name=".Activity.AboutItemActivity" />
        <activity android:name=".Activity.DetailsWithGridActivity" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".Activity.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>